<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>员工信息后台管理系统</title>
    <link rel="stylesheet" href="../static/css/font_1993937_f14i025p0ae.css">
    <link rel="stylesheet" href="../static/css/AdminPage.css">
    <link rel="icon" href="../static/images/admin_icon.png">
</head>
<body>
    <div class="app">
        <!-- 头部 -->
        <header class="clearfix">
            <div class="logo">
                <i class="iconfont icon-weixin"></i>
                <h2>员工信息后台管理系统</h2>
            </div>
            <div class="header-right">
                <div class="nickname">欢迎管理员</div>
                <div class="login-out">
                    <a href="./login.html">退出登录</a>
                </div>
            </div>
        </header>
        <div class="container clearfix">
            <!-- 左边栏 -->
            <aside class="left">
                <ul>
                    <li><a href="./adminhoutai.html">员工资料</a></li>
                    <li><a href="./bumenxinxi.html">部门信息</a></li>
                    <li><a href="./yuangonggongzi.html">员工工资统计</a></li>
                    <li><a href="./ruzhixinxi.html">新入职员工信息录入</a></li>
                </ul>
            </aside>
            <!-- 主体内容 -->
            <div class="main clearfix">
                <!-- 控制部分 -->
                <div class="control">
                    <div class="control-left">
                        <form class="adbumenxinxisousuo_form"  name = "adbumenxinxisousuo" action="/bumenxinxi" method="post">
                            <input type="text" placeholder="请输入员工的编号查找员工" name="BianHao">
                            <a href="adbumenxinxisousuo.html"><button  type="submit" class="search">查找</button></a>
                        </form>
                    </div>
                </div>
                <!-- 表格内容 -->
                <table>
                    <caption>部门信息</caption>
                    <thead>
                        <tr>
                            <th>员工编号</th>
                            <th>姓名</th>
                            <th>岗位</th>
                            <th>级别</th>
                          
                        </tr>
                    </thead>
                    <tbody>
                        {{range.bumenxinxi}}
                        <tr>
                            <td>{{.Id}}</td>
                            <td>{{.Name}}</td>
                            <td>{{.Department}}</td>
                            <td>{{.Level}}</td>
                        </tr>
                        {{end}}
                       
                    </tbody>
                   
                </table>
                <!-- 分页 -->
                <div class="pager">
                    <a href="" class="pager-last">上一页</a>
                    <a href="" class="pager-selected">1</a>
                    <a href="">2</a>
                    <a href="">3</a>
                    <a href="">4</a>
                    <a href="">5</a>
                    <a href="">6</a>
                    <a href="">7</a>
                    <a href="">8</a>
                    <a href="">9</a>
                    <a href="">10</a>
                    <a href="" class="pager-next">下一页</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>