@import url(reset.css);
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
body{
    margin: 0;
}
button{
    margin: 0;
}
.app{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}
header{
    background-color: #008c8c;
    height: 100px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
header .logo{
    height: 85px;
    line-height: 85px;
    margin-left: 30px;
    display: inline-block;
}
header .logo .iconfont{
    display: inline;
    padding-right: 20px;
    font-size: 50px;
    color: #fff;
    cursor: pointer;
}
header .logo h2{
    display: inline;
    font-size: 30px;
    color: #fff;
}
header .header-right{
    float:right;
    height: 100px;
    line-height: 100px;
    color: #fff;
    font-size: 18px;
}
header .header-right .nickname{
    padding-right: 30px;
    display: inline;
}
header .header-right .login-out{
    padding-right: 30px;
    display: inline;
}
header .header-right .login-out a{
    color: #fff;
}
header .header-right .login-out a:hover{
    color: #999;
    cursor: pointer;
}
/* 主体部分 */
.container{
    width: 100%;
    height: 100%;
    padding-top: 100px;
    box-sizing: border-box;
}
/* 左边栏 */
.container .left{
    float: left;
    width: 300px;
    height: 100%;   
    background-color: rgb(95, 94, 94);
    overflow: auto;
}
.container .left li{
    font-size: 20px;
    height: 65px;
    line-height: 65px;
    padding-left: 30px;
}
.container .left li:hover{
    background-color: rgb(110, 110, 110);
    border-left: 8px solid #008c8c;
    box-sizing: border-box;
    padding-left: 22px;
}
.container .left ul li a{
    display:block;
    color: rgb(212, 212, 212);
}
.container .left ul li:hover a{
    color: #fff;
    display:block；
}
/* 主体内容部分 */
.container .main{
    overflow: hidden;
    height: 100%;
    background-color: rgb(201, 240, 250);
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
}
/* 增删查改控制 */
.container .main .control{
    width: 1550px;
}
.container .main .control .control-left{
    float: left;
    margin-left: 10px;
}
.container .main .control .control-left input{
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border: 2px solid #ccc;
    box-sizing: border-box;
    width: 300px;
    height: 40px;
    padding: 0 15px;
    font-size: 20px;
    /* 解决input和button对不齐 */
    vertical-align:top;
}
.container .main .control .control-left input:hover{
    border: 2px solid #999;
    box-sizing: border-box;
}
.container .main .control .control-left input:focus{
    border: 2px solid #008c8c;
    box-sizing: border-box;
}
.container .main .control .control-left .search{
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    /* 解决input和button对不齐 */
    vertical-align:top;
    border-radius: 40px;
    background-color: #008c8c;
    font-size: 25px;
    font-family: "微软雅黑",sans-serif;
    color: #fff;
    margin-left: -20px;
}
.container .main .control .control-right{
    float: right;
}
.container .main .control .control-right button{
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    /* 解决input和button对不齐 */
    vertical-align:top;
    border-radius: 40px;
    background-color: #008c8c;
    font-size: 25px;
    font-family: "微软雅黑",sans-serif;
    color: #fff;
    margin-left: 20px;
}
.container .main .control .control-right button:hover,
.container .main .control .control-left .search:hover{
    cursor: pointer;
    background-color: #00a5a5;
}
/* 表格内容 */
table{
    width: 100%;
    margin: 0 10px 10px 10px;
    border: 2px solid #999;
    box-sizing: border-box;
    background-color: #fff;
}
table caption{
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 50px;
}
table thead tr{
    height: 70px;
    line-height: 70px;
    background-color: rgb(230, 230, 230);
}
table thead tr th{
    border: 1px solid #999;
    box-sizing: border-box;
    font-size: 25px;
    font-family: "微软雅黑",sans-serif;
}
table tbody tr{
    height: 50px;
    line-height: 50px;
    text-align: center;
}
table tbody tr:nth-child(2n){
    background-color: rgb(245, 245, 245);
}
table tbody tr:hover{
    background-color: rgb(223, 223, 223);
}
table tbody tr td{
    border: 1px solid #999;
    box-sizing: border-box;
    font-size: 20px;
    font-family: "微软雅黑",sans-serif;
}
table tfoot tr{
    height: 40px;
    line-height: 40px;
    text-align: right;
    
}
table tfoot tr td{
    padding-right: 50px;
    font-size: 20px;
    font-family: "微软雅黑",sans-serif;
}
/* 分页 */
.main .pager{
    width: 750px;
    margin-left: 5px;
    text-align: left;
    margin-bottom: 100px;
}
.main .pager a{
    padding: 8px 14px;
    text-align: center;
    line-height: 32px;
    border: 1px solid #d8d8d8 ;
    margin: 0 4px;
    color: #333;
    background-color: #fff;
}
.main .pager a:hover{
    border: 1px solid #008c8c;
}
.main .pager .pager-last{
    width: 74px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    margin: 0 4px;
}
.main .pager .pager-next{
    width: 74px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    margin: 0 4px;
}
.main .pager .pager-selected{
    background-color: #008c8c;
    color: #fff;
}